    {% extends 'tasks/base.html' %}


{% load static %}


{% block tasks %}
    {% for task in object_list %}
        <div class="col-md-4">
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <p><a class="btn btn-primary btn-lg js_submit_order"
                  href="#" role="button"
                  data-id="{{ task.id }}"
                  data-url="{% url 'tasks:check' %}">Проверить код</a></p>
            <p><a class="btn btn-primary btn-lg js_submit_order"
                  href="#" role="button"
                  data-id="{{ task.id }}"
                  data-url="{% url 'tasks:test' %}">Протестировать код</a></p>
            <p><a class="btn btn-primary btn-lg js_submit_order"
                  href="#" role="button"
                  data-id="{{ task.id }}"
                  data-url="{% url 'tasks:delete' %}">Удалить</a></p>
        </div>
    {% endfor %}
{% endblock %}